
    <footer>

        <!-- Footer Starts -->
  
        <div class="container-fluid footer-container">
            <!-- Links and Info footer -->
            <div class="row main-footer">
                <div class="col-md-4">
                    <h4>Contact Us</h4>
                    <hr style="border-color: #aac7ff; width: 45%;">
                    <section class="contact-info">
                        <ul>
                          <li>Kathmandu Valley Traffic Police Office</li>
                          <li>Kathmandu,Nepal</li>
                          <li>Traffic Control:- 103, +977-01-4219641</li>
                          <li>vtpo@nepalpolice.gov.np</li>
                        </ul>
                    </section>
  
                    <section class="social-media">
                        <h5>Follow us on</h5>
                        <ul class="d-flex">
                          <li>
                            <a href=""
                              ><img
                                src="https://img.icons8.com/fluency/48/000000/facebook-new.png"
                            /></a>
                          </li>
                          <li>
                            <a href=""
                              ><img
                                src="https://img.icons8.com/fluency/48/000000/twitter.png"
                            /></a>
                          </li>
                          <li>
                            <a href=""></a
                            ><img
                              src="https://img.icons8.com/fluency/48/000000/instagram-new.png"
                            />
                          </li>
                          <li>
                            <a href=""
                              ><img
                                src="https://img.icons8.com/color/48/000000/youtube-play.png"
                            /></a>
                          </li>
                        </ul>
                      </section>
                </div>
                <div class="col-md-4">
                    <h4>Organization Link</h4>
                    <hr style="border-color: #aac7ff; width: 45%;">
                    <section class="fs-link">
                        <ul>
                        <li>
                            <a href="https://www.nepal.gov.np/"
                            >Nepal Goverment National Portal</a
                            >
                        </li>
                        <li><a href="https://ntb.gov.np/">Nepal Toursim Board</a></li>
                        <li>
                            <a href="https://www.moha.gov.np/">Ministry of Home Affairs</a>
                        </li>
                        <li>
                            <a href="https://dofe.gov.np/"
                            >Depeartment of Foreign Employment</a
                            >
                        </li>
                        <li>
                            <a href="https://nepalpassport.gov.np/"
                            >Depeartment of Password</a
                            >
                        </li>
                        <li><a href="https://www.apf.gov.np/">Armed Police Force</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-4"></div>
            </div>
            <!-- Links and Info footer Ends -->
  
            <!-- Copyright -->
            <div class="row copyright">
                <hr style="    border-color: #aac7ff;">
                
                <div class=" col-12 footer-text ">
                    <section>© 2021 - Nepal Police. All rights reserved</section>
                    <section>
                      <ul>
                        <li><a href="">Terms and Contition</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Feedback / Inquiry</a></li>
                      </ul>
                    </section>
                  </div>
            </div>
            <!-- Copyright Ends -->
        </div>
  
        <!-- Footer Ends -->
    </footer>
  