 <!-- Header (Navigation) -->
        <!-- Index or logo -->
        <nav class="navbar navbar-expand-lg  fixed-top  px-md-5 wow fadeIn" data-wow-delay="0.1s">
            <a href="index.html" class="navbar-brand ms-4 ms-lg-0 text-white">
                <h2>Traffic Dai</h2>
            </a>
            <button type="button" class="navbar-toggler bg-white me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menu Buttons -->
            <div class="collapse navbar-collapse " id="navbarCollapse">  
                <div class="navbar-nav  mx-auto p-4 p-lg-0 menu">
                    <a href="/profile" class="nav-item nav-link text-white active">My Profile</a>
                    <a href="/calander" class="nav-item text-white nav-link">Scedule</a>
                    <a href="/cheat" class="nav-item text-white nav-link">Create Cheat</a>
                    <a href="/history" class="nav-item text-white nav-link">History</a>
                    <a href="/report" class="nav-item text-white nav-link">Report</a>
                </div>
                <!-- Username info login logout -->
                <div class="navbar-nav nav-button username">
                    <a href="" class="user-info">
                        <div>
                          <img
                            src="https://img.icons8.com/stickers/100/000000/username.png"
                          />
                          Username
                        </div>
                      </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- Navigation Ends -->