.first-container{
    margin-top: 14vh;
    margin-bottom: 6vh;
    display: flex;
}


/* Report And Found Buttoon */

.selected-button{
    width: 80%;
    margin: 0 auto;
}

.add-button button{
  margin-right: 20px;
}

.selected-button button {
    width: 150px;
    height: 35px;
    border: none;
    margin-right: 30px;
    font-size: 1.1rem;
    border-radius: 6px;
    transition: all 250ms;
    transition-timing-function: ease-in-out;
  }
  
  .selected {
    background-color: #0078ff;
    color: white;
  }
  
  .unselected {
    background-color: #aac7ff;
    color: rgb(100, 100, 100);
  }
  
  .selected:hover {
    background-color: #006ce7;
    border: 1px solid #006ce7;
    box-shadow: rgba(0, 108, 231, 0.7) 0px 10px 15px -5px;
  }
  
  .unselected:hover {
    background-color: #0078ff;
    box-shadow: rgba(0, 120, 255, 0.7) 0px 10px 15px -5px;
    color: white;
  } 
  
/* Report And found Button Ends */


/* Repost And Found List*/

.report-list>div{
    
    border-left: 6px solid #f33040;

}

.found-list>div{
    border-left: 6px solid #28a745;

}

.report-list > div,
.found-list > div {
    width: 30%;
  background-color: white;
  box-shadow: 0 2px 10px rgb(0 22 84 / 10%);
  font-size: 0.9rem;
  padding: 40px 30px;
  margin-bottom: 6vh;
}

.toRemove{
    display: none;
}




/* Report And Found List Ends */


/* Found Button on Report List */

.found-button button {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 7px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 250ms;
    transition-timing-function: ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    float: right;
    margin-top: 15px;
  }
  
  .found-button button:hover {
    /* box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0; */
    box-shadow: rgba(15, 136, 65, 0.8) 0px 15px 15px -5px;
    transform: translateY(-2px);
  }
/* Found Button on repost List */



/* Custom Responsive With Media */
/* Veru large */
@media only screen and (max-width: 1500px) {


   
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
    
    .report-list>div,
    .found-list>div{
        width: 45%;
    }
   
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
 

   
    
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {

    .report-list>div,
    .found-list>div{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
   


}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .selected-button{
        width: 98%;
    }
    .selected-button button{
        margin-right: 0;
        margin-bottom: 2vh;
    }

}

