body{
    background-color: #ececec;

}

.table-container{
    margin-top: 12vh;
    margin-bottom: 5vh;
    height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
}

.table thead tr {
    background-color: #BAB5B1;
    text-align: left;
    border-bottom: 4pt solid #ececec;
    position: sticky;
    top: 0;
    z-index: 2; 
   
}

.table thead tr th{
    padding: 2rem 0.7rem !important;
}

.table tbody tr td{vertical-align: middle;}
.table tbody tr td:first-child img{
    border-radius: 50%;
    height: 10vh;
}
.table tbody tr{
    font-size: 0.9rem;
    background-color: white;
    border-bottom: 2pt solid #ececec;
    transition: all 0.15s ease-in-out;  

}
.table tbody tr:hover{
    background-color: #DADADA;
    transform: scale(1.007);

}

/* Color  */

.table tbody tr:nth-child(odd) td .status{
    background-color: #cff6dd;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #1fa750;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.table tbody tr:nth-child(odd) td .status div:first-child{
    background-color: #23bd5a;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    content: ' ';
    margin-right: 7px;
}


.table tbody tr:nth-child(even) td .status{
    background-color: #fdf5dd;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #cfa00c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.table tbody tr:nth-child(even) td .status div:first-child{
    background-color: #f2be1d;;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    content: ' ';
    margin-right: 7px;
}
