{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/user/cheat.css'%}"> {% endblock %}

{% block content %}
    <main>

        <div class="container">
            <div class="row type">
                <div class="col-md-3 col-4">
                    
                    <div class="image">
                        <a href="/cheat/createcheat">
                            <img src="{%static 'Images/icons/motorbike.png'%}" alt="" style="width: 100%;">

                        </a>
                    </div>
                    <div class="text">
                        <p>Bike / Scooty</p>
                    </div>
                </div>

                <div class="col-md-3 col-4">
                    
                    <div class="image">
                        <a href="/cheat/createcheat">
                            <img src="{%static 'Images/icons/van.png'%}" alt="" style="width: 100%;">

                        </a>
                    </div>
                    <div class="text">
                        <p>Car / Van / Jeep</p>
                    </div>
                </div>

                <div class="col-md-3 col-4">
                    
                    <div class="image">
                        <a href="/cheat/createcheat">
                            <img src="{%static 'Images/icons/backhoe.png'%}" alt="" style="width: 100%;">

                        </a>
                    </div>
                    <div class="text">
                        <p>Backhoe</p>
                    </div>
                </div>

                <div class="col-md-3 col-4">
                    
                    <div class="image">
                        <a href="/cheat/createcheat">
                            <img src="{%static 'Images/icons/crane.png'%}" alt="" style="width: 100%;">

                        </a>
                    </div>
                    <div class="text">
                        <p>Crane</p>
                    </div>
                </div>

                <div class="col-md-3 col-4">
                    
                    <div class="image">
                        <a href="/cheat/createcheat">
                            <img src="{%static 'Images/icons/cultivator.png'%}" alt="" style="width: 100%;">

                        </a>
                    </div>
                    <div class="text">
                        <p>Cultivator</p>
                    </div>
                </div>

                <div class="col-md-3 col-4">
                    
                    <div class="image">
                        <a href="/cheat/createcheat">
                            <img src="{%static 'Images/icons/dozer.png'%}" alt="" style="width: 100%;">

                        </a>
                    </div>
                    <div class="text">
                        <p>Drozer</p>
                    </div>
                </div>

                <div class="col-md-3 col-4">
                    
                    <div class="image">
                        <a href="/cheat/createcheat">
                            <img src="{%static 'Images/icons/firefighter.png'%}" alt="" style="width: 100%;">

                        </a>
                    </div>
                    <div class="text">
                        <p>Firefighter</p>
                    </div>
                </div>
                
                <div class="col-md-3 col-4">
                    
                    <div class="image">
                        <a href="/cheat/createcheat">
                            <img src="{%static 'Images/icons/grader.png'%}" alt="" style="width: 100%;">

                        </a>
                    </div>
                    <div class="text">
                        <p>Grader / Loader</p>
                    </div>
                </div>
                
                <div class="col-md-3 col-4">
                    
                    <div class="image">
                        <a href="/cheat/createcheat">
                            <img src="{%static 'Images/icons/tractor.png'%}" alt="" style="width: 100%;">

                        </a>
                    </div>
                    <div class="text">
                        <p>Tractor</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block js %}
{% endblock %}