{% extends 'base.html' %}

{% block title %} Report {% endblock %}

{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/user/reportStyle.css'%}"> {% endblock %}



{% block content %}

<main>
  <div class="container-fluid first-container">
      <div class="selected-button">
          <button id="report">Reported</button>
          <button id="solved">Solved</button>
        </div>
  </div>

  <div class="container second-container">

      <!-- Only Repost List -->
      <div class="row report-list justify-content-between">
          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>
      </div>
      <!-- Report List Ends -->

      <!-- Only Found LIst -->
      <div class="row found-list justify-content-between">

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>Heading of the report</b> </h5>
                  <p><i>Jun 18, 2020</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> Adip Thapaliya</p>
                    <p><b>Vechiles Name : </b> Ns 200</p>
                    <p><b>Vechiles color:</b> Black and White</p>
                    <p><b> Vechiles Number:</b> Ba 2 Kha 3252</p>
                    <p><b> Engine Number:</b> JIYCK6F1851652</p>

                    <div class="found-button">
                      <button>Found</button>
                    </div>
                  </div>

              </div>
          </div>

      </div>
      <!-- Found List Ends -->
  </div>
</main>
{% endblock %}

{% block js%}
<script src="{% static 'js/user/reportScript.js'%}"></script>
{% endblock %}