{% extends 'adminbase.html' %}

{% block title %} Home {% endblock %}

{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/user/historyStyle.css'%}"> {% endblock %}

{% block content %}

<main>
    <div class="container table-container ">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th width="30%">Username</th>
                    <th width="8%">Vechile</th>
                    <th width="15%">Vechile Number</th>
                    <th width="15%">Licence Number</th>
                    <th width="10%">Status</th>
                    <th width="22%">Details</th>
                </tr>
            </thead>
            <tbody>

                {% for datas in data %}
                <tr>
                    <td> 
                         
                       <img src="../Images/yahoo-profile-update-e1543323322554.jpg" alt="" width=""> {{datas.name}}  

                    </td>
                    <td>{{datas.vechilename}}  </td>
                    <td>{{datas.number}}  </td>
                    <td>{{datas.licence}}  </td>
                    <td>
                        <div class="status">
                            <div> </div>
                            <div>Paid</div>
                        </div>
                    </td>
                    <td>
                        <p>Rule Voilated: {{datas.type}}  </p>
                        <p>Amout: Rs {{datas.fine}}  </p>
                    </td>
                </tr>

                {% endfor %}
                
                
            </tbody>
        </table>
    </div>
</main>

{% endblock %}