{% extends 'adminbase.html' %}

{% block title %} Home {% endblock %}

{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/user/cheatform.css'%}"> {% endblock %}

{% block content %}
    <main class="container">

        <form
                action="/admin/adduser/"
                method="post"
            >
                <h1>Add User</h1>
                {% csrf_token %}
                <div class="row">
                    

                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="product name" class="form-label"
                                >Fisrt Name</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                placeholder=""
                                required
                                name="f_name"
                            />
                        </div>

                        <div class="mb-3">
                            <label for="product-price" class="form-label"
                                >Username</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                placeholder=""
                                required
                                name="username"
                            />
                        </div>

                        <div class="mb-3">
                            <label for="product name" class="form-label"
                                >Password</label
                            >
                            <input
                                type="password"
                                class="form-control"
                                placeholder=""
                                required
                                name="password"
                            />
                        </div>

                        

                        
                        
                    </div>

                    <div class="col-lg-6">

                        <div class="mb-3">
                            <label for="product name" class="form-label"
                                >Last Name</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                placeholder=""
                                required
                                name="l_name"
                            />
                        </div>

                        <div class="mb-3">
                            <label for="product-price" class="form-label"
                                >Email Address</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                placeholder=""
                                required
                                name="email"
                            />
                        </div>

                        <div class="mb-3">
                            <label for="product-price" class="form-label"
                                >Confirm Password</label
                            >
                            <input
                                type="password"
                                class="form-control"
                                placeholder=""
                                required
                                name="confirmpassword"
                            />
                        </div>

                        
                        
                    </div>
                </div>

                

                <div class="col-12 mt-5">


                    <input
                    type="submit"
                    name=""
                    id=""
                    class="btn btn-primary"
                    value="Add"
                />
             
                    
                </div>
            </form>
        
    </main>

{% endblock %}

{% block js %}
{% endblock %}