{% extends 'adminbase.html' %}

{% block title %} Report {% endblock %}

{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/user/reportStyle.css'%}"> {% endblock %}



{% block content %}

<main>
  <div class="container-fluid first-container">
      <div class="selected-button">
          <button id="report">Reported</button>
          <button id="solved">Solved</button>
        </div>
        <div class="add-button">
          <a href="/admin/addreport">
            <button type="button" class="btn btn-primary">+</button>

          </a>
        </div>
  </div>

  <div class="container second-container">

      <!-- Only Repost List -->
      <div class="row report-list justify-content-between">
        {%for datas in data %}
          <div class="col-lg-4 col-md-6">
              <div>
                  <h5><b>{{datas.vechiletype}} Lost</b> </h5>
                  <p><i>{{datas.date}}</i></p>
                  <div class="vechiles-info">
                    <p><b>Owner Name:</b> {{datas.name}}</p>
                    <p><b>Vechiles Name : </b> {{datas.vechilename}}</p>
                    <p><b>Vechiles color:</b> {{datas.color}}</p>
                    <p><b> Vechiles Number:</b>{{datas.number}}</p>
                    <p><b> Engine Number:</b> {{datas.enginenumber}}</p>

                    <div class="found-button">
                      <a href="/vechile/found/{{datas.id}}">
                        <button>Found</button>

                      </a>
                    </div>
                  </div>

              </div>
          </div>
          {%endfor%}


          

          
      </div>
      <!-- Report List Ends -->

      <!-- Only Found LIst -->
      <div class="row found-list justify-content-between">

        {%for files in file %}
        <div class="col-lg-4 col-md-6">
            <div>
                <h5><b>{{files.vechiletype}} Found</b> </h5>
                <p><i>{{files.date}}</i></p>
                <div class="vechiles-info">
                  <p><b>Owner Name:</b> {{files.name}}</p>
                  <p><b>Vechiles Name : </b> {{files.vechilename}}</p>
                  <p><b>Vechiles color:</b> {{files.color}}</p>
                  <p><b> Vechiles Number:</b>{{files.number}}</p>
                  <p><b> Engine Number:</b> {{files.enginenumber}}</p>

                  
                </div>

            </div>
        </div>
        {%endfor%}


          

      </div>
      <!-- Found List Ends -->
  </div>
</main>
{% endblock %}

{% block js%}
<script src="{% static 'js/user/reportScript.js'%}"></script>
{% endblock %}