.footer-container{
    background-color: rgba(27, 86, 147,1);

}

.footer-container{
    color: white;
}

.footer-container ul{
    padding-left: 0 !important;
}

.footer-container ul li{
    list-style: none;
}

.footer-container a{
    text-decoration: none;
    color: white;
}

.main-footer>div{
    padding-left: 70px;
}

.main-footer{
    padding-top: 5vh;
    padding-bottom: 13vh;
}
/* Copy Right */
.footer-text{
    width: 96%;
    margin: 0 auto;
    padding: 0.3vh 0;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 0.9rem;
}

.footer-text section:nth-child(2) ul {
    list-style: none;    

}

.footer-text section:nth-child(2) ul li{
    display: inline;
    padding: 0 10px;
}

.footer-text section:nth-child(2) ul li a{
   text-decoration: none;
   color: white;
}

